include partials/schema-field.pug
include partials/endpoint-input-component.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- <script src="./index.js" type="module"></script>
        //- <script src="https://cdn.tailwindcss.com"></script>
        <script src="./endpoints.js" type="module"></script>
        <script src="./vue.js" type="module"></script>
        link(rel="stylesheet" href="output.css")
        title Endpoints
    body(class="flex")
        div(class="w-[70vw] mx-auto" id="app")
            div(class="h- flex flex-col gap-[4px]" x-data="{ count: 0 }")
                h3(class="py-5 text-3xl font-semibold mb-3") Endpointssd

                div(class="flex flex-col gap-[4px]")
                    <authentication-controller></authentication-controller>

                    <create-function></create-function>

                    <create-function type="middleware"></create-function>

                    <create-endpoint :action="addendpoint"></create-endpoint>

                <endpoint-list></endpoint-list>

    +endpoint-input("hidden", "endpoint-input")
    +schema-field("hidden", "schema-field")