<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blockly Sample App</title>
    <link rel="stylesheet" href="./index.css">
    //- <script src="https://cdn.tailwindcss.com"></script>
    //- <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
  </head>
  <body>
    <div id="pageContainer">
      <div id="blocklyDiv"></div>
      <div id="outputPane">
        <pre id="generatedCode"><code></code></pre>
      </div>
    </div>
  </body>
  <script src="./index.js" type="module"></script>
</html>

